html {
    box-sizing: border-box;
    
}

*, ::after, ::before {
    box-sizing: border-box;
}

.tabelOnPhones {
    overflow-x: auto;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: 'Lato', italic, sans-serif;
}