.quoteAndPhoto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quote {
    font-family: 'Qwitcher Grypen', cursive, sans-serif;
    text-align: center;
    font-size: 50px;
    max-width: 400px;
    margin-bottom: 10px;
}

.photoJakubZuber {
    border: 2px solid #e1a87a;
    border-radius: 10px;
    filter: brightness(0.8);
    max-width: 300px;
    margin: 20px 50px
}